body {
  font-size: 1.125rem;
}

p {
  font-size: 1.125rem;
}


.phototext {
    color: "#E4C562";
}

.phototext {
  color: #E4C562;
  font-family: serif;
  text-align: center;/* width: 50%; */
}

p.phototext {
  font-size: 1rem;
  margin-bottom: 30px;
}
}
