body {
  font-size: 1.3rem;
}

p {
  font-size: 1.3rem;
}

.phototext {
  color: "#E4C562";
}

.phototext {
  color: #E4C562;
  font-family: serif;
  text-align: center;
}

p.phototext {
  font-size: 1.3rem;
  margin-bottom: 30px;
}
